.form-wrapper form{
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
    width: 70%;
    margin: 20px;

    label{
        margin-bottom: -12px;
        width: 200px;
        height: 100px;
        text-align: left;
    }

    input, select{
        margin-top: 20px;
    }

    input{
        border: none;
        border-bottom: 1px solid gray;
        padding-bottom: 10px;
        transition: all .2s ease-in;
        
        &:focus{
            outline: none;
        }
    }

    .button-wrapper{
        background: linear-gradient(45deg, #2390e9, #6223f4, #ec58c7);
        border-radius: 20px;
        border: 1px solid gray;
        width: 15%;
        transition: all .2s ease-in;
        position: relative;
        bottom: 20px;

        button{
            background: none;
            background-clip:  padding-box;
            border: none;
            outline: none;
            color: #efefef;
            font: bold 10px 'segoe', verdana;
            height: 30px;
            
    
            &:hover .button-wrapper{
                cursor: pointer;
            }
        }
    }

    .error{
        color: red;
        font-size: 12px;
        margin: 10px 0 20px 0;

        &:before{
            content: '* '
        }
    }
}