.form-wrapper form{
    display: flex;
    flex-flow: column nowrap;
    height: 40%;
    width: 70%;
    margin: 20px;

    label{
        margin-bottom: -12px;
        width: 200px;
        height: 100px;
        text-align: left;
    }

    input, select{
        margin-top: 20px;
    }

    button{
        width: 20%;
        height: 30px;
    }
}